/* --- Media ---*/
@media (1000px <= width <=1200px) {
  .main-left {
    display: none;
  }

  main .container {
    grid-template-columns: auto 30dvw;
  }
}

@media (width < 1000px) {
  .main-left {
    display: none;
  }

  main .container {
    grid-template-columns: auto;
  }

  .main-right {
    display: none;
  }
}